#network{
  .box-card{
    .el-card__body{
      .item{
        .el-table{
          th{
            text-align: center;
            background-color:#F1F3F6; 
            
          }
        }
      }
    }
  }
}