#create-app-image{
  .box-card{
    min-width: 500px;
    .el-card__header{
      background-color: #fafafa;
      .title{
        color: #3d444f;
        font-size: 20px;
      }
      .clearfix:before,
      .clearfix:after {
        display: table;
        content: "";
      }
      .clearfix:after {
        clear: both
      }
    }
    .el-card__body{
      .content{
        .el-form{
          .el-form-item{
            border-bottom:1px solid #e4e7ed;
            min-height: 60px;
            .el-form-item__content{
              .el-input{
                float: left;
                max-width: 500px;
                margin:  0 0 0 20px;
              }
              div.input{
                min-width: 500px;
                height: 60px;
              }
              div.input + div.input{
                // .el-input + .el-input{ // form-item中存在多个input时设置相邻的input的上下间距
                  margin-top: 20px;
                  margin-bottom: 20px;
                // }
              }
              
              .el-select{
                float: left;
                // margin: 0 0 0 20px;
              }
            }
          }
        }
      }
    }
    
    
  }
}