.master{
  width: 100%;
  overflow: hidden;
  // 卡片
  .box-card{
    width: 100%;
    // 接入主机
    .create-master{
      width: 100%;
      height: 80px; 
      // background-color: antiquewhite;
      .el-button{
        float: left;
        margin:20px;
      }
    }
    // 内容块
    .master-content{
      width: 100%;
      margin-top: 20px;
      display:inline-block;
      overflow: hidden;
      .el-table{
        min-width: 1000px;
        th{
          text-align: center;
          background-color:#F1F3F6; 
        }
        border-spacing: 0;
        border-collapse: separate;
        .el-card__header{
          height: 70px;
          background-color: #F5F7FA;
        }
        .warning-row {
          background: oldlace;
        }
        .success-row {
          background: #f0f9eb;
        }
      } 
    
    }
  }
}

