#pod{
  .box-card{
    .el-card__header{
      height: 70px;
      background-color: #F5F7FA;
      p{
        text-align: left;
        padding-left: 20px;
        font-size: 24px;
      }
    }
    .content{
      .btn-box{
        width: 100%;
        height: 50px;
        .el-button{
          float: left;
        }
      }
      .tabel-box{
        
        .el-table{
          min-width: 1000px;
          th{
            text-align: center;
            background-color:#F1F3F6; 
          }
        }
      }
    } 
  }
  // 对话框
  .el-dialog__wrapper{
    .el-dialog{
      .el-dialog__body{
        .el-form{
          .el-form-item{
            .el-input{
              width:calc(100% -80px - 60px) !important;
            }
          }
        }
      }
    }
  }
}