// 对警告框 文字居右修改
.el-message{
  display: block;
  width: 20px;
  text-align: left;
  i{
    float: left;
  }
}
.templet_container{
  .templat_btn_box{
    width: 100%;
    height:80px;
    .templet_btn{
      float: left;
      margin: 10px;
      margin:20px;
    }
  }
  
  // 放置模板容器
  .template-content{
    .templet{
      margin:10px;
      // 每个模板
      .templet_box{
        .image {
          width: 100%;
          display: block;
        }
        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }
        
        .clearfix:after {
            clear: both
        }
        .bottom{
          margin-top: 13px;
          line-height: 12px;
          .button {
            // width: 30px;
            // height: 30px;
            padding: 0;
            float: right;
            position: relative;
            bottom: 6px;
            right: 6px;
          }
        } 
      }
    }
    .el-dialog{
      .el-dialog__header{
        height: 100px;
        border-bottom: 1px solid #E4E7ED;
      }
      .el-dialog__body{
  
      }
      .el-dialog__footer{
  
      }
    }
  }
  
  
}